<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./css/styles.css">
    
    <title>Show list of movie informations</title>
</head>
<body>

    <div id="app">
        <!-- search zone -->
        <header>
            <img class="logo" src="./img/skylogo.png" alt="logo">
            <input @keyup.enter="request()" v-model='research' type="text" placeholder="Cerca un film o una serie...">
        </header>
        
        <!-- result zone -->
        <main class="result">
            <ul>
                <li class="album" v-for="movie in catalog">
                    <img class="poster" v-if="movie.poster_path" :src="`https://image.tmdb.org/t/p/w500${movie.poster_path}`" :alt="movie.title">
                    <img class="poster" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="notitmage">
                    <p class="title">{{ movie.title }}</p>
                    <p class="subtitle">{{movie.original_title}}</p>
                    <p class="details updimension"><i v-for="n in getvote(movie.vote_average)" class="fas fa-star"></i>
                     <i v-for=" n in 5 - getvote(movie.vote_average)" class="far fa-star"></i></p>
                     <span class="details updimension" v-if="movie.original_language === 'it'" ><img class="flag" src="./img/it.png" alt="it"> </span>
                    <span class="details updimension" v-else-if="movie.original_language === 'en'" ><img class="flag" src="./img/en.png" alt="en"> </span>
                    <span class="details" v-else>{{ movie.original_language}} </span>
                    </li>
                    
                    
                <li class="album" v-for="series in catalogtv">
                    <img class="poster" v-if="series.poster_path" :src="`https://image.tmdb.org/t/p/w500${series.poster_path}`" :alt="series.name">
                    <img class="poster" v-else src="https://www.altavod.com/assets/images/poster-placeholder.png" alt="notitmage">
                    <p class="title">{{ series.name}}</p>
                    <p class="subtitle"> Titolo originale: {{series.original_name}}</p>
                    <p class="details"><i v-for="n in getvote(series.vote_average)" class="fas fa-star"></i>
                    <i v-for=" n in 5 - getvote(series.vote_average)" class="far fa-star"></i></p>
                    <span  class="details" v-if="series.origin_country === 'it'"><img class="flag" src="./img/it.png" alt="it"> </span>
                    <span class="details" v-else-if="series.origin_country === 'en'"><img class="flag" src="./img/en.png" alt="en"> </span>
                    <p class="details" v-else>{{ series.origin_country }} </p>
                    
                </li>
            </ul>
        </main>
        








    </div>    
    <!-- axios & javascript -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./javascript/main.js"></script>
</body>
</html>